* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background-image: url('../images/banner-copy.jpg');
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    /*box-shadow: inset 10px 10px 50px rgba(0, 0, 0, 0.911);*/
}
.container {
    width: 90%;
    margin: auto;
    
}
header {
   display: flex;
   justify-content: center;
   padding-top: 20px;
   margin-bottom: 200px;
}
.logo {
    margin-right: 400px;
    color: #ffffff;
   
}
nav ul {
   margin-left: 200px;
}

li {
   display: inline;
   list-style-type: none;
   color: #ffffff;
   padding-right: 10px;
}
a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;

}
a:hover {
   color: blue;
}
a:visited {
    color: aqua;
}
:active {
    color: brown;
}
.main-content {
    /*border: 2px solid red;*/
    padding-left: 20px;
    width: 50%;
    margin-bottom: 20px;
    color: #ffffff;
  
}
.main-content h1 {
    /*border: 2px solid red;*/
    color: aqua;
    margin-top: 0px;
}
.main-content p {
    /*border: 2px solid red;*/
    line-height: 30px;
}
.bottom-nav{
    /*padding-bottom: 170px;*/
    margin-left: 0;
}
.bottom-nav ul {
    /*border: 2px solid red;*/
    padding: 10px 20px;
}
.bottom-nav ul li {
    border: solid 2px #ffffff;
    border-radius: 3px;
    padding: 10px 30px;
}
.bottom-nav ul li a {
    color: white;
  /*border: 2px solid red;*/
   
}

@media(max-width:600px) {
    body {
        padding: 0;
        margin: 0;
        background-size: cover;
        background-image: url('../images/banner-copy.jpg');
        background-repeat: no-repeat;
        font-family: Arial, Helvetica, sans-serif;
        /*box-shadow: inset 10px 10px 50px rgba(0, 0, 0, 0.911);*/
    }
    header {
        display: block;
    }
    li {
        display: block;
    }
    .bottom-nav ul li {
        border: solid 2px black;
        border-radius: 3px;
        padding: 10px 30px;
    }
    .bottom-nav ul li a {
        color: blue;
       
    }

}

